apiVersion: v1
kind: ConfigMap
metadata:
  name: chaos-coredns-config
  namespace: chaos-dns-e2e
data:
  Corefile: |
    .:53 {
        errors
        health {
           lameduck 5s
        }
        ready
        dns_chaos {
            grpcport 9288
        }
        kubernetes cluster.local in-addr.arpa ip6.arpa {
            pods insecure
            fallthrough in-addr.arpa ip6.arpa
            ttl 30
        }
        prometheus :9153
        forward . /etc/resolv.conf {
            max_concurrent 1000
        }
        cache 30
        loop
        reload
        loadbalance
    }
